html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#square {
  height: 17.5rem;
  width: 17.5rem;
  border: solid;
}